body{
    font-family: 'Ropoto' , sans-serif;
    background-color: #f4f7f6;
    margin: 0;
}
header{
    text-align: center;
    background-color: #8509fa;
    color: white;
    padding-bottom: 30px;
}
*{
    box-sizing: border-box;
}
h1{
    font-family: 'Roboto', sans-serif;
    margin-top:0;
    padding: 30px;
    
}
img{
    margin-top: 30px;
    width: 50px;
}

section{
    text-align: center;
}

h2{
    font-family: 'open sans' , sans-serif;
    font-size: 1.5em;
    width: 400px;
    margin: auto;
}
h3::before{
    content: " « ";
    color: #5505a0;
}
h3{
    font-size: 1.5em;
    text-transform: uppercase;
    color: #c389f8;
}
h3::after{
    content: " » ";
    color: #5505a0;
}
a{
    text-decoration: none;
    color: #460385;
    font-size: 25px;
}
ul{
    padding: 0;
    display: inline;
}
nav{
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0,0, 0, 0.5);
    padding: 15px;
    font-size: 1.1em;
}
li:hover{
    font-weight: bold;
}
li{
    list-style-type: none;
    display: inline;
    margin: 60px;
}
#presentation{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#contact{
    border: 1px black solid;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 50px;
}
.contener{
width: 80%;
margin: auto;
}
#mesProjts{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.projet{
width: 400px;
margin: 30px;
display:inline-block;
background-color: white;
padding-bottom: 15px;
border: 0px black solid;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.projet:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
}

.projet img{
    width: 400px;
    height: 266px;
    overflow: hidden;
}
.projet span{
    display: block;
    text-transform: uppercase;
}

.pictures{
    width: 400px;
    height: 266px;
    overflow: hidden;
}
.date_project{
font-size: 0.7em;
}
.separator{
width:40px;
height:1px;
margin: 15px auto;
display: block;
background-color: #9999;
}
#mail{
    color: #460385;
    font-size: 18px;
    font-weight: bolder;
}
footer{
    background-color: #8509fa;
    color: white;
    padding: 15px;
    text-align: center;
}